name: Build and Release LaTeX

on:
  push:
    branches:
      - main # Změňte podle vašich potřeb
  pull_request:
    branches:
      - main # Změňte podle vašich potřeb

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up LuaLaTeX
      run: |
        sudo apt-get update
        sudo apt-get install -y texlive texlive-publishers texlive-science texlive-lang-czechslovak cm-super latexmk
      shell: bash

    - name: Compile LaTeX files
      run: |
        cd ~/SetsStatements/
        lualatex --synctex=0 --interaction=nonstopmode --jobname=sets-statements ./main.tex > out1.log
        lualatex --synctex=0 --interaction=nonstopmode --jobname=sets-statements ./main.tex > out1.log
        lualatex --synctex=0 --interaction=nonstopmode --jobname=sets-statements ./main.tex > out1.log
      shell: bash

    - name: Upload pdf to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ~/SetsStatements/sets-statements.pdf
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
